<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCC8dfErgORDAlxl7_fwOmgPzA_qsJd6g&callback=initMap" async defer></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
</body>
</html>