// DIMENS
$desktop: "(min-width: 767px)";
$mobile: "(max-width: 767px)";

// COLORS
$color-primary: #03A9F4;
$color-secondary: #4FC3F7;
$color-bright: #8BC34A;
$color-white: white;
$color-dark: #333333;
$color-accent: #FF4081;

.body {
  background-color: $color-white;
}

.background-primary {
  background: $color-primary !important;
}

.background-bright {
  background: $color-bright !important;
}

$font-default: Rubik, helvetica, sans-serif;

* {
  font-family: $font-default;
}

.fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;

  min-width: 320px;
  min-height: 480px;
}

.fullscreen.with-bar {
  top: 62px !important;
  @extend .fullscreen;
}

.c {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.c.space-between {
  justify-content: space-between;
  @extend .c;
}

.c.center {
  justify-content: center;
  @extend .c;
}

.c.left {
  justify-content: left;
  @extend .c;
}

.c.right {
  justify-content: right;
  @extend .c;
}

.r {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.r.center {
  justify-content: center;
  @extend .r;
}

.r.left {
  justify-content: flex-start;
  @extend .r;
}

.r.right {
  justify-content: flex-end;
  @extend .r;
}

.card {
  border-radius: 3px;
  background-color: $color-white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.initial {
  .login-card {
    height: 80%;
    max-height: 600px;
    width: 70%;
    min-width: 280px;
    max-width: 460px;
    margin: auto;
    padding: 12px;

    .logo {
      margin-top: 22px;
      margin-left: auto;
      margin-right: auto;
      width: 110px;
    }
    .logo-text {
      font-family: Courgette, sans-serif;
      font-size: 2em;
      text-align: center;
      font-weight: 200;
      margin-top: 8px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    @extend .card, .c;
  }
}

.labelinput {
  .label {
    font-size: 14px;
    color: #aeaeae;
    margin: 0;
  }

  input {
    width: 340px;
    margin: 0 auto;
    display: block;
    font-size: 18px;
    padding: 4px 6px;
    color: $color-dark;
  }
}

.main {
  overflow: hidden;
  $info-height: 52px;
  .container-map {
    position: absolute;
    top: 64px;
    left: 0; right: 0; bottom: $info-height - 14;
    overflow: scroll;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .box-info {
    background: white;
    position: absolute;
    bottom: 0; left: 0; right: 0;
    height: $info-height;
    p {
      font-size: 1.2em;
      color: $color-dark;
      font-weight: 700;
      line-height: $info-height;
      margin: 0;
      text-align: center;

      @media #{$mobile} {
        font-size: 0.9em;
      }
    }
  }
}

.destination {
  padding: 22px;
  @media #{$mobile} {
    padding: 0;
  }
  .input {
    width: 100% !important;
    max-width: 600px;
  }

  .autocomplete-crossstreet > * {
    padding: 0 !important;
  }
}

.waiting {
  background-color: #eeeeee;
  padding: 42px;
  @media #{$mobile} {
    padding: 0;
  }

}

.boarding {
  background-color: #eeeeee;
  .timer {
    width: 100%;
    padding: 22px 0;
    font-size: 5em;
    text-align: center;
    @media #{$mobile} {
      font-size: 3.2em;
    };
  }
}

.finish {
  padding: 22px;

  h3 {
    font-weight: 300;
    color: $color-accent;
  }
  input[type='checkbox'] {
    width: 20px !important;
    height: 20px !important;
    display: inline-block;

  }
}

.card-info {
  .header {
    text-align: center;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .label {
    font-size: 0.8em;
    color: #6b6b6b;
  }
  p {
    margin: 0;
    display: inline-block;
  }

}

.sk-wandering-cubes {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative; }
.sk-wandering-cubes .sk-cube {
  background-color: #333;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-wanderingCube 1.8s ease-in-out -1.8s infinite both;
  animation: sk-wanderingCube 1.8s ease-in-out -1.8s infinite both; }
.sk-wandering-cubes .sk-cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }
@-webkit-keyframes sk-wanderingCube {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: translateX(30px) rotate(-90deg) scale(0.5);
    transform: translateX(30px) rotate(-90deg) scale(0.5); }
  50% {
    /* Hack to make FF rotate in the right direction */
    -webkit-transform: translateX(30px) translateY(30px) rotate(-179deg);
    transform: translateX(30px) translateY(30px) rotate(-179deg); }
  50.1% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-180deg);
    transform: translateX(30px) translateY(30px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
    transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
@keyframes sk-wanderingCube {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: translateX(30px) rotate(-90deg) scale(0.5);
    transform: translateX(30px) rotate(-90deg) scale(0.5); }
  50% {
    /* Hack to make FF rotate in the right direction */
    -webkit-transform: translateX(30px) translateY(30px) rotate(-179deg);
    transform: translateX(30px) translateY(30px) rotate(-179deg); }
  50.1% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-180deg);
    transform: translateX(30px) translateY(30px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
    transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

